.icon-jiantou
  &:before
    content:''
    display: inline-block;
    width: 14px
    height:14px
    background-image: url(../svg/jiantou.svg)
    background-size: 100%
    vertical-align: middle
    margin-top: -3px

.icon-jiantou-down
  &:before
    content:''
    display: inline-block;
    width: 10px
    height:10px
    background-image: url(../svg/jiantou.svg)
    background-size: 100%
    vertical-align: middle
    transform: rotate(90deg)

.icon-CombinedShapeCopy
  fill:#45ABFF
  width:25px

.icon-CombinedShapeCopy1
  fill:#45ABFF
  width:25px

.icon-search
  &:before
    content:''
    display: inline-block;
    width: 14px
    height:14px
    background-image: url(../svg/search.svg)
    background-size: 100%
    vertical-align: middle
    margin-top: -3px

.icon-delivery
  &:before
    content:''
    display: inline-block;
    width: 20px
    height:16px
    background-image: url(../svg/kuaidi.svg)
    background-size: 100%

.icon-delivery1
  &:before
    content:''
    display: block
    margin:auto
    width: 20px
    height:20px
    background-image: url(../svg/delivery1.svg)
    background-size: 100%

.icon-setting
  &:before
    content:''
    display: block
    margin:auto
    width: 24px
    height:24px
    background-image: url(../svg/setting.svg)
    background-size: 100%
    margin: 18px 10px 18px

.icon-invite
  &:before
    content:''
    display: block
    width: 27px
    height: 27px
    background: url('../images/qrcode_icon.png') no-repeat center
    background-size:100%

.icon-jinhuo
  &:before
    content:''
    display: inline-block;
    width: 25px
    height:20px
    background-image: url(../svg/jinhuo.svg)
    background-size: 100%
    vertical-align: middle

.icon-buhuo
  &:before
    content:''
    display: inline-block;
    width: 25px
    height:24px
    background-image: url(../svg/buhuo.svg)
    background-size: 100%
    vertical-align: middle
